{% extends 'base.html' %}

{% block title %}produtos {% endblock %}

{% block content %}
    <section class="section-content">
        <div class="container">
            <h3>Produtos</h3>
            <br>
            <p><a href="{% url 'new-product' %}">Novo anúncio</a></p>

            <table class="table table_bordered">
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Ação</th>
                </tr>

                {% for product in product_list %}
                    {% for category in product.categories.all %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <a href="{% url 'update-product' product.pk %}">Editar</a> |
                            <a href="{% url 'delete-product' product.pk %}">Deleta

                            </a>
                        </td>
                    </tr>
                        {% endfor %}
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}