{% extends 'base.html' %}

{% block title %}Meus produtos {% endblock %}

{% block content %}
    <section class="section-content">
        <div class="container">
            <h3>Meus anúncios</h3>
            <br>
            <p><a href="{% url 'new-product' %}">Novo anúncio</a></p>

            <table class="table table_bordered">
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Ação</th>
                </tr>

                {% for product in product_list %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.categories }}</td>
                        <td>
                            <a href="{% url 'update-product' product.pk %}">Editar</a> |
                            <a href="{% url 'delete-product' product.id %}">Perguntas

                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}