{% load static %}
<!DOCTYPE html>
<html>
	<head>
        <title>{% block title  %}Olist{% endblock title %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description">
        <meta name="author" content="olist">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <!-- CSS -->

        <link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	</head>

	<body>

        <div class="header-frame row container-center">
            {% include 'nav.html' only %}
        </div>

        {% block content %}
        <div class="container">
        <h2>a plataforma de vendas online para quem quer crescer agora
            Os serviços de e-commerce que você busca, aliados à tecnologia e inteligência de mercado que te fazem vender mais</h2>

            <p>prazer, somos o olist</p>

        </div>

             <div class="col-xl-4 col-md-6">
                    <div style="height: 100px" class="d-flex justify-content-center">
                    <img src="{% static 'img/seguranca-da-web.png' %}">
                    </div>
                    <h3>100% Seguro</h3>
                    <p>Não precisamos de qualquer acesso á sua conta.
                    Nenhuma senha será solicitada e nada será divulgado em seu perfil
                    do Instagram.</p>
                </div>

        {% endblock content %}

    </body>
</html>
