{% extends 'base.html' %}

{% block title %}Adicionar novo produto {% endblock %}

{% block content %}
    <section>
        	<div class="content row padding-bottom-3 desktop-12 container">
                <h1>Cadastra novo produto</h1>
                <div class="desktop-6">
                    <form action="." novalidate method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-row label-block input-text">
                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                {{ form.name.errors }}
                                {{ form.name }}
                        </div>
                        <div class="form-row label-block input-text">
                            <label for="{{ form.slug.id_for_label }}">{{ form.slug.label }}</label>
                                {{ form.slug.errors }}
                                {{ form.slug}}
                        </div>
                        <div class="form-row label-block input-text">
                            <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                                {{ form.description.errors }}
                                {{ form.description }}
                        </div>
                        <div class="form-row label-block input-text">
                            <label for="{{ form.categories.id_for_label }}">{{ form.categories.label }}</label>
                                {{ form.categories.errors }}
                                {{ form.categories }}
                        </div>

                           <div class="form-row label-block input-text">
                            <label for="{{ form.quantity.id_for_label }}">{{ form.quantity.label }}</label>
                                {{ form.quantity.errors }}
                                {{ form.quantity }}
                        </div>

                        <div class="form-row label-block input-text">
                            <label for="{{ form.prince.id_for_label }}">{{ form.prince.label }}</label>
                                {{ form.prince.errors }}
                                {{ form.prince }}
                        </div>
                        <p class="btn-row"><input type="submit" value="Cadastrar!"/></p>
                    </form>
                </div>
            </div>
        </section>
{% endblock %}