c{% extends 'base.html' %}

{% block title %}Editar anuncio - Market Place{% endblock %}

{% block content %}
    <section class="section-content">
        <div class="container">
            <h3>Editando: {{ category.name }}</h3>
            <br>

            <form action="{% url 'category-update' category.pk %}" method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <input type="submit" class="btn btn-success" value="Salvar">
            </form>
        </div>
    </section>

{% endblock %}