{% extends  'layout.html' %}

{% block title %}Category{% endblock %}

{% block content %}
    <br><br>
    <div class="container">
        <h3>List Category</h3>
        <br/><br/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Descrição</th>

                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            {% for category in category_list %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button  type="button" class="btn btn-danger"><a href="{% url 'category-update' %}">  </a></button>
                            <button type="button" class="btn btn-warning">Middle</button>
                            <button type="button" class="btn btn-success">Right</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}