{% extends 'base.html' %}

{% block title %}Categoria {% endblock %}

{% block content %}
    <section class="section-content">
        <div class="container">
            <h3>Categorias</h3>
            <br>
            <p><a href="{% url 'category-create' %}">Nova Categoria</a></p>

            <table class="table table_bordered">
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Ação</th>
                </tr>

                {% for category in category_list %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.description }}</td>
                        <td>
                            <a href="{% url 'category-update' category.pk %}">Editar</a> |
                            <a href="{% url 'category-delete' category.pk %}">Deleta

                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}