{% extends  'layout.html' %}

{% block content %}
     <!-- OVERVIEW -->
        <section>
        	<div class="content row padding-bottom-12 desktop-12 " align="center">
                <h1>Delete</h1>
                <div class="desktop-8  container h-90 ">
                    <form action="." class="text-center" novalidate method="post">
                        {% csrf_token %}


                        <strong>Are you sure ?!</strong><br/>
                        <p class="btn-row"><input type="submit" value="delete!"/></p>
                    </form>
                </div>
            </div>
        </section>
{% endblock content %}

